*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height:100vh;
    background:linear-gradient(135deg,#bbdecf,#bc4ed7, rgb(234, 157, 170));
    padding: 10px;

}

.todo-app{
width: 100%;
max-width: 540px;
background: rgb(241, 238, 238);
margin: 100px auto 20px;
padding:40px 30px 70px;
border-radius: 10px;
}

.todo-app h2{
    color: #06142b;
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}


.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

#date{
    margin-left: 100px;
    font-size: 18px;
    color: #5441b8;
}



.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fffffff0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;


}

input{
    flex: 1;
    border: none;
    outline: none;
    background:transparent;
    padding: 10px;
    font-size: 17px;

}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background : #fd9825;
    color:#fff;
    font-size:16px;
    cursor: pointer;
    border-radius: 40px;
}

button:hover{
    background: rgb(4, 123, 234);
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius:50px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}

ul li.checked{
    color:#1a0801;
    text-decoration: line-through;
    

}

ul li.checked::before{
    background-image: url(images/checked.png);
 
 }

 /* -----------------------------css for x icon which is implement by js----------------------- */
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: rgb(4, 3, 3);
    line-height: 40px;
    text-align: center;
    border-radius: 50px;

}

ul li span:hover{
    background: #dddedf;
    color:rgb(255, 27, 27);
}

